*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif

}a:visited{
    color: whitesmoke;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
h4{
    font-size: large;
}

img{
    border-radius: 50%;
    height: 150px;
    width:150px;
    margin: 20px;
    object-fit:cover;
    
    
}
body{
    margin-left:30%;
    background-color: black;
   
    margin-right: 30%;
}

#card{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    margin-top: 15%;
    background: linear-gradient(to bottom, #F5DEB3,rgb(255, 136, 0) );
}

#socials{
    margin-top: 4px;
    margin-bottom: 4px;
}

#card>button{
    background-color: black;
    color: whitesmoke;
    border: none;
    padding: 10px;
    margin-bottom:7px ;
    font-size: medium;
    width: 260px;
    border-radius: 8px;
    
}
#whatsapp-button{
    margin-top: 24px;
}



.bx{
    font-size: 34px;
    color: black;
}



